/* This file is for your main application css. */
// @import "./phoenix.css";
@import "../node_modules/nprogress/nprogress.css";
@import "../node_modules/bulma/bulma.sass";
@import "../node_modules/bulma-prefers-dark/bulma-prefers-dark.sass";


/* LiveView specific classes for your customizations */
.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-error {
  background-color: $danger;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-disconnected{
  cursor: wait;

}

.phx-disconnected *{
  pointer-events: none;
}


#nprogress .bar {
  background: $light;
  height: 4px;
}

#nprogress .spinner-icon {
  border-top-color: $dark;
  border-left-color: $dark;
}